{% extends 'dash/base.html' %}

{% block content %}
  <div class="pure-u-1">
    <ol>
      <li>
        <a href="{% url 'workflow.deploy' %}">
          Deploy the time-off request workflow
        </a>
        <small>
          <code>
            ('example/tests/data/timeOffRequest.bpmn20.xml')
          </code>
        </small>
      </li>
      <li>
        Create 10 x sample workflows
        <small>
          <code>
            ('django-admin.py demo_data_workflow')
          </code>
        </small>
      </li>
      <li>
        <a href="{% url 'api:task-list' %}">
          Test the REST API by browsing to here...
        </a>
      </li>
      <li>
        For other interesting stuff click
        <a href="{% url 'workflow.process.definition.list' %}">
          Workflow (Process Definitions)
        </a>
      </li>
    </ol>
  </div>
{% endblock content %}
