{% if user.is_staff %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item{% if path == '/workflow/' %} pure-menu-disabled{% endif %}">
            <a href="{% url 'workflow.process.definition.list' %}" class="pure-menu-link">
              <i class="fa fa-user"></i>
              Workflow
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endif %}
