<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Workflow</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'workflow.task.list' %}" class="pure-menu-link">
      <i class="fa fa-magic"></i>
      Tasks
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'workflow.list' %}" class="pure-menu-link">
      <i class="fa fa-magic"></i>
      Mapping
    </a>
  </div>
</div>
