{% if user.is_staff %}
  <li class="pure-menu-item">
    <a class="pure-menu-link" href="{% url "workflow.process.definition.list" %}">
      <i class="fa fa-wrench fa-fw"></i>
      Workflow
    </a>
  </li>
{% endif %}
