<form id='search-form' action="{% url 'workflow.data.create' workflow.pk %}" method="POST" class="pure-form">
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    <button type="submit" class="pure-button pure-button-primary">
      Create Report
    </button>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
</form>
