<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="{% url 'project.settings' %}" class="pure-menu-link">
            <i class="fa fa-reply"></i>
          </a>
        </li>
        {% include 'base/_paginate_elastic.html' %}
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{% url 'workflow.deploy' %}">
            <i class="fa fa-plus"></i>
            Deploy
          </a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{% url 'workflow.list' %}">
            <i class="fa fa-magic"></i>
            Mapping
          </a>
        </li>
        {% url 'workflow.task.list' as task_list_url %}
        {% if not request.path == task_list_url %}
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'workflow.task.list' %}">
              <i class="fa fa-magic"></i>
              Tasks
            </a>
          </li>
        {% endif %}
        {% url 'workflow.process.instance.list' as process_instance_list_url %}
        {% if not request.path == process_instance_list_url %}
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'workflow.process.instance.list' %}">
              <i class="fa fa-magic"></i>
              Instances
            </a>
          </li>
        {% endif %}
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{% url 'workflow.history.process.report' %}?next={{ request.path }}">
            <i class="fa fa-magic"></i>
            History
          </a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{% url 'workflow.process.definition.list' %}">
            <i class="fa fa-magic"></i>
            Process Definitions
          </a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{% url 'workflow.deployment.list' %}">
            <i class="fa fa-magic"></i>
            Deployments
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
