{% extends 'workflow/base.html' %}

{% block sub_title %}
  Deployments
{% endblock sub_title %}

{% block sub_heading %}
  Deployments
{% endblock sub_heading %}

{% block content %}
  {% include 'workflow/_workflow_list_menu.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>Name</td>
            <td>Deployed</td>
            <td>ID</td>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.name }}
              </td>
              <td>
                {{ x.created|date:'d/m/Y H:i'  }}
              </td>
              <td>
                {{ x.deployment_id }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate_elastic.html' %}
        </ul>
      </div>
    </div>
{% endblock content %}
