{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if report %}
    All Workflows
  {% else %}
    My Workflows
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if report %}
    All Workflows
  {% else %}
    My Workflows
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'project.dash' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                Dashboard
              </a>
            {% endif %}
          </li>
          <li class="pure-menu-item">
            {% if report %}
              <a href="{% url 'workflow.history.process' %}" class="pure-menu-link">
                <i class="fa fa-file-o"></i>
                My Workflows
              </a>
            {% elif has_security_history %}
              <a href="{% url 'workflow.history.process.report' %}" class="pure-menu-link">
                <i class="fa fa-file-o"></i>
                All Workflows
              </a>
            {% endif %}
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 chosen_outer_container">
      <form id='search-form' action="." method="GET" class="pure-form">
        <fieldset>
          {% include 'workflow/_form_field.html' with field=form.workflow %}
          <button type="submit" class="pure-button pure-button-primary">
            Update
          </button>
        </fieldset>
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
      </form>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if object_list %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Workflow</th>
              <th colspan="2">Description</th>
              <th>Created</th>
              <th>End</th>
            </tr>
          </thead>
          <tbody>
            {% for process_id, data in object_list.items %}
              <tr valign="top">
                <td>
                  {% if report %}
                    <a href="{% url 'workflow.history.task.report' process_id %}?next={{ request.path }}">
                      {% if data.name %}
                        {{ data.name }}
                      {% else %}
                        {{ process_id }}
                      {% endif %}
                    </a>
                  {% else %}
                    <a href="{% url 'workflow.history.task' process_id %}?next={{ request.path }}">
                      {% if data.name %}
                        {{ data.name }}
                      {% else %}
                        {{ process_id }}
                      {% endif %}
                    </a>
                  {% endif %}
                  {% if data.name %}
                    <small>({{ process_id }})</small>
                  {% endif %}
                </td>
                <td>
                  {{ data.column_1 }}
                </td>
                <td>
                  {{ data.column_2 }}
                </td>
                <td>
                  {{ data.created|date:'d/m/Y H:i' }}
                </td>
                <td>
                  {{ data.end_time|date:'d/m/Y H:i' }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% elif report %}
        Choose a workflow... then click the 'Update' button
      {% endif %}
    </div>
  </div>
{% endblock content %}
