{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ process.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ process.name }}
  {% if process.completed %}
    (Complete)
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% elif report %}
              <a href="{% url 'workflow.history.process.report' %}?workflow={{ process.workflow_pk }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                Workflows
              </a>
            {% else %}
              <a href="{% url 'workflow.history.process' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                Workflows
              </a>
            {% endif %}
          </li>
          <li class="pure-menu-item">
            <a href="#" id="diagram-show-hide" class="pure-menu-link">
              <i class="fa fa-picture-o"></i>
              Show Process Diagram
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <style>
    #process-diagram {
      display: none;
    }

    #process-diagram img {
      margin: 0 auto;
    }
  </style>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if not process.completed %}
        <div id="process-diagram">
          <img class="pure-img" src="{% url 'workflow.process.instance.diagram' process_id %}">
        </div>
      {% endif %}
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Name
              </strong>
            </td>
            <td>
              {{ process.name }}
              <small>
                ({{ process.process_id }})
              </small>
            </td>
          </tr>
          {% if process.created %}
            <tr valign="top">
              <td>
                <strong>
                  Created
                </strong>
              </td>
              <td>
                {{ process.created|date:'d/m/Y H:i' }}
              </td>
            </tr>
          {% endif %}
          {% if process.end_time %}
            <tr valign="top">
              <td>
                <strong>
                  Ended
                </strong>
              </td>
              <td>
                {{ process.end_time|date:'d/m/Y H:i' }}
              </td>
            </tr>
          {% endif %}
          {% for key, value in process.variables.items %}
            <tr valign="top">
              <td>
                <strong>
                  {{ key }}
                </strong>
              </td>
              <td>
                {{ value }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Task</th>
            <th>Category</th>
            <th>Created</th>
            {% if report %}
              <th>User</th>
            {% endif %}
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          {% for row in object_list %}
            <tr valign="top">
              <td>
                {% if row.deleted %}
                  <del>
                {% endif %}
                {{ row.name }}
                {% if row.deleted %}
                  </del>
                {% endif %}
                <small>({{ row.process_id }})</small>
              </td>
              <td>
                {% if row.category %}
                  {% if row.deleted %}
                    <del>
                  {% endif %}
                  {{ row.category }}
                  {% if row.deleted %}
                    </del>
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if row.created %}
                  {{ row.created|date:'d/m/Y H:i' }}
                {% endif %}
              </td>
              {% if report %}
                <td>
                  {% if not row.deleted %}
                    {% if row.assignee %}
                      {{ row.assignee }}
                    {% endif %}
                  {% endif %}
                </td>
              {% endif %}
              <td>
                {% if row.deleted %}
                  Terminated
                  <small>{{ row.end_time|date:'d/m/Y H:i' }}</small>
                {% elif row.completed %}
                  <i class="fa fa-check"></i>
                  <small>{{ row.end_time|date:'d/m/Y H:i' }}</small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if attachments %}
        <br>
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Attachments</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            {% for row in attachments %}
              <tr valign="top">
                <td>
                  <a
                    target="_blank"
                    href="{{ row.download_url }}">
                    {{ row.original_file_name }}
                  </a>
                </td>
                <td>
                  {{ row.created|date:'d/m/Y H:i' }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
    $(document).ready(function () {
      $("#diagram-show-hide").click(function(event) {
        event.preventDefault();
        diagram = $("#process-diagram");
        button = $("#diagram-show-hide");
        if (diagram.is(":visible")) {
          button.html('<i class="fa fa-picture-o"></i> Show Process Diagram');
          diagram.hide();
        }
        else {
          button.html('<i class="fa fa-picture-o"></i> Hide Process Diagram');
          diagram.show();
        }
      });
    });
  </script>
{% endblock script %}
