{% extends 'workflow/base.html' %}

{% load dict_values %}
{% block sub_title %}
  {% if page_title %}
    {{ page_title }}
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if page_title %}
    {{ page_title }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  {% include 'workflow/_workflow_list_menu.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            {# for each column output the title #}
            {% for column in column_list %}
              {% for name, title in column.items %}
                <th>{{ title }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for data in data_list %}
            <tr valign="top">
              {# for each column in the list output the value from the current row of data_list #}
              {% for column in column_list %}
                {% for name, title in column.items %}
                  <td>{{ data|dict_value:name }}</td>
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% include 'base/_paginate.html' %}
{% endblock content %}
