{% extends 'dash/base.html' %}

{% block sub_title %}
  Mapping for '{{ object.variable_name }}'
{% endblock sub_title %}

{% block sub_heading %}
  Mapping for
  {{ object.mapping_type_as_str }}
  '{{ object.variable_name }}'
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'workflow.mapping.list' object.workflow.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Mapping
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Update Field Mapping' %}
      {% if not object.can_edit_mapping_type %}
        <strong>Note</strong>:
        You cannot change the mapping type of the
        {{ object.mapping_type_as_str|lower }} field
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
