{% extends 'dash/base.html' %}

{% block sub_title %}
  Mapping for {{ workflow.name }} ({{ workflow.process_key }})
{% endblock sub_title %}

{% block sub_heading %}
  Mapping for {{ workflow.name }} ({{ workflow.process_key }})
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'workflow.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Workflows
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>
              Variable
            </th>
            <th>
              Type
            </th>
            <th>
              Mapping
            </th>
            <th>
              CSS
            </th>
            <th>
              Multi
            </th>
            <th>
              History
            </th>
            <th>
              Download
            </th>
            <th>
              Task View
            </th>
          </tr>
        </thead>
        <tbody>
          {% for mapping in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'workflow.mapping.update.config' mapping.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ mapping.variable_name_as_java }}
                </a>
                <small>
                  ({{ mapping.variable_name }})
                </small>
              </td>
              <td>
                {{ mapping.mapping_type_as_str }}
                <small>({{ mapping.mapping_type }})</small>
                {% if not mapping.can_map %}
                  <i class="fa fa-warning"></i>
                {% endif %}
              </td>
              <td>
                {% if mapping.can_map %}
                  {% if mapping.is_map_extra %}
                    <a href="{{ mapping.map_url }}">
                      <i class="fa fa-edit"></i>
                      {{ mapping.map_as_str }}
                    </a>
                  {% endif %}
                {% else %}
                  {{ mapping.map_as_str }}
                  <i class="fa fa-warning"></i>
                {% endif %}
              </td>
              <td>
                {% if mapping.css_class %}
                  {{ mapping.get_css_class_display }}
                {% endif %}
              </td>
              <td>
                {% if mapping.multi_line %}
                  {{ mapping.multi_line }} rows
                {% endif %}
              </td>
              <td>
                {% if mapping.history_summary %}
                  <i class="fa fa-check"></i>
                {% endif %}
                {% if mapping.history_summary_column %}
                  <small>
                    (Column {{ mapping.history_summary_column }})
                  </small>
                {% endif %}
              </td>
              <td>
                {% if mapping.data_download %}
                  <i class="fa fa-check"></i>
                {% endif %}
              </td>
              <td>
                {% if mapping.view_task_data %}
                  <i class="fa fa-check"></i>
                {% endif %}
              </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  </div>
{% endblock content %}
