{% extends 'workflow/base.html' %}

{% block sub_title %}
  Process Instances
{% endblock sub_title %}

{% block sub_heading %}
  Process Instances
{% endblock sub_heading %}

{% block content %}
  {% include 'workflow/_workflow_list_menu.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>ID</td>
            <td>Process Key</td>
            <td>Started</td>
            <td>Definition</td>
            <td>Suspended</td>
            <td>Ended</td>
            <td>Complete</td>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'workflow.process.instance.detail' item.pk %}">
                  {{ item.pk }}
                </a>
              </td>
              <td>
                <strong>
                  {{ item.process_key }}
                </strong>
              </td>
              <td>
                {{ item.start_time|date:'d/m/Y H:i' }}
              </td>
              <td>
                {{ item.definition_id }}
              </td>
              <td>
                {% if item.suspended %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-times"></i>
                {% endif %}
              </td>
              <td>
                {% if item.ended %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-times"></i>
                {% endif %}
              </td>
              <td>
                {% if item.completed %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <i class="fa fa-times"></i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate_elastic.html' %}
        </ul>
      </div>
    </div>
{% endblock content %}
