{% extends 'workflow/base.html' %}

{% block sub_title %}
  Process -
  {% if workflow %}
    {{ workflow.name }}
  {% else %}
    {{ process_id }}
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  Process -
  {% if workflow %}
    {{ workflow.name }}
  {% else %}
    {{ process_id }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'workflow.process.instance.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Processes
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <img class="pure-img" src="{% url 'workflow.process.instance.diagram' process_id %}">
      {% for row in data %}
        <table class="pure-table pure-table-bordered" width="100%">
          <tbody>
            <tr>
              <td>
                <strong>Process ID</strong>
              </td>
              <td>
                {{ row.process_id }}
              </td>
              <td>
                <a href="{% url 'workflow.process.instance.delete' row.process_id %}">
                  <i class="fa fa-trash-o fa-fw"></i>
                  Delete
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Task ID</strong>
              </td>
              <td>
                {{ row.pk }}
              </td>
              <td>
                <a href="{% url 'workflow.history.task.report' row.process_id %}?next={{ request_path }}">
                  <i class="fa fa-history fa-fw"></i>
                  Task History
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Definition</strong>
              </td>
              <td colspan="2">
                {{ row.definition_id }}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Name</strong>
              </td>
              <td colspan="2">
                {{ row.name }}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Created</strong>
              </td>
              <td colspan="2">
                {{ row.created|date:'d/m/Y H:i' }}
              </td>
            </tr>
            <tr>
              <td>
                <strong>Assignee</strong>
              </td>
              <td colspan="2">
                {% if row.assignee %}
                  {{ row.assignee }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <strong>URL Name</strong>
              </td>
              <td colspan="2">
                {{ row.url_name }}
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <strong>Variables</strong>
              </td>
            </tr>
            {% for key, variable in row.variables.items %}
              <tr>
                <td>
                  {{ variable.java_name }}
                  <small>
                    ({{ key }})
                  </small>
                </td>
                <td>
                  {{ variable.value }}
                </td>
                <td>
                  {{ variable.data_type_as_str }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
  {% include 'base/_paginate.html' %}
{% endblock content %}
