{% extends 'workflow/base.html' %}

{% block sub_title %}
  Workflow - Delete Process {{ process_status.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete Workflow Process {{ process_status.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <strong>
        Warning
      </strong>
      <i class="fa fa-warning"></i>
      <br>
      If you delete workflow process {{ process_status.pk }}
      it cannot be un-deleted.
      <br>
      {% if task %}
        <br>
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr valign="top">
              <th colspan="2">Current Task</th>
            </tr>
          </thead>
          <tbody>
            <tr valign="top">
              <td>Created</td>
              <td>{{ task.created|date:'d/m/Y H:m' }}</td>
            </tr>
            <tr valign="top">
              <td>Category</td>
              <td>{{ task.category }}</td>
            </tr>
            <tr valign="top">
              <td>Description</td>
              <td>{{ task.description }}</td>
            </tr>
          </tbody>
        </table>
      {% endif %}
      {% include '_form.html' with submit='Delete Workflow Process' %}
      {% if variables %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr valign="top">
              <th>Variable</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in variables.items %}
              <tr valign="top">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock content %}
