{% extends 'workflow/base.html' %}
{% load humanize %}

{% block sub_title %}
  Task History
{% endblock sub_title %}

{% block sub_heading %}
  Task History
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Dashboard
            </a>
          </li>
          {% if user.is_superuser %}
            <li class="pure-menu-item">
              <a href="{% url 'workflow.process.instance.delete' task.process_id %}" class="pure-menu-link">
                <i class="fa fa-trash-o"></i>
                Delete Process
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if is_error %}
        <p>
          <strong>
            <i class="fa fa-warning"></i>
            There has been a problem running the task.
          </strong>
        </p>
        <p>
          Please inform your administrator.
          The task ID is <strong>{{ task.pk }}</strong>.
        </p>
      {% endif %}
      {% if task.completed %}
        This task was completed
        {% if assignee %}
          by
          {{ assignee.get_full_name }}
          <small>({{ assignee.username }})</small>
        {% endif %}
        {{ task.end_time|naturaltime }}.
        <br>
      {% else %}
        {% if assignee %}
          {% if not assignee == user %}
            This task is assigned to {{ assignee.get_full_name }}.
            <br>
          {% endif %}
        {% endif %}
        {% if group_id %}
          The task is assigned to a group.
          <br>
        {% endif %}
      {% endif %}
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>
              <strong>
                Assignee
              </strong>
            </td>
            <td>
              {% if assignee %}
                {{ assignee.get_full_name }}
                <small>({{ assignee.username }})</small>
              {% endif %}
            </td>
          </tr>
          {% if task.claimed %}
            <tr valign="top">
              <td>
                <strong>
                  Claimed
                </strong>
              </td>
              <td>
                {{ task.claimed|date:'d/m/Y H:i' }}
              </td>
            </tr>
          {% endif %}
          <tr valign="top">
            <td>
              <strong>
                Group
              </strong>
            </td>
            <td>
              {% if group %}
                {{ group }}
              {% else %}
                {{ group_id }}
              {% endif %}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Completed
              </strong>
            </td>
            <td>
              {{ task.end_time|date:'d/m/Y H:i' }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Name
              </strong>
            </td>
            <td>
              {{ task.name }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Process ID
              </strong>
            </td>
            <td>
              {{ task.process_id }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
