{% extends 'workflow/base.html' %}

{% block sub_title %}
  Tasks
{% endblock sub_title %}

{% block sub_heading %}
  Tasks
{% endblock sub_heading %}

{% block content %}
  {% include 'workflow/_workflow_list_menu.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>ID</td>
            <td>Name</td>
            <td>Assignee</td>
            <td>Process</td>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.pk }}
                <br>
                <small>
                  Created: {{ x.created|date:'d/m/Y H:i' }}
                </small>
              </td>
              <td>
                {{ x.name }}
                {% if x.category or x.description %}
                  <small>
                    {% if x.category %}
                      <br>
                      ({{ x.category }})
                    {% endif %}
                    {% if x.description %}
                      <br>
                      {{ x.description }}
                    {% endif %}
                  </small>
                {% endif %}
              </td>
              <td>
                {% if x.assignee %}
                  {{ x.assignee }}
                  <br>
                {% endif %}
                <small>
                  ('{{ x.url_name }}')
                </small>
              </td>
              <td>
                <a href="{% url 'workflow.process.instance.detail' x.process_id %}?next={{ request.path }}">
                  {{ x.process_id }}
                </a>
                <br>
                <small>
                  {{ x.definition_id }}
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate_elastic.html' %}
        </ul>
      </div>
    </div>
{% endblock content %}

