{% extends 'dash/base.html' %}

{% block sub_title %}
  Workflow - Data Export
{% endblock sub_title %}

{% block sub_heading %}
  Workflow - Data Export
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Dashboard
            </a>
          </li>
          {% if workflow %}
            <li class="pure-menu-item">
              <a href="{% url 'workflow.data.report.list' workflow.process_key %}" class="pure-menu-link">
                <i class="fa fa-cloud-download"></i>
                Completed
              </a>
            </li>
          {% endif %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 chosen_outer_container">
      <form id='search-form' action="." method="GET" class="pure-form">
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
        <fieldset>
          {% include 'workflow/_form_field.html' with field=form.workflow %}
          <button type="submit" class="pure-button pure-button-primary">
            Update
          </button>
        </fieldset>
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
      </form>
      {% if pending and workflow %}
        {% include 'workflow/_workflow_data_form.html' %}
      {% else %}
      {% endif %}
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if object_list %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Created</th>
              <th colspan="2">Description</th>
              <th>Reported</th>
            </tr>
          </thead>
          <tbody>
            {% for row in object_list %}
              <tr valign="top">
                <td>
                  {{ row.created|date:'d/m/Y H:i' }}
                </td>
                <td>
                  {{ row.column_1 }}
                </td>
                <td>
                  {{ row.column_2 }}
                </td>
                <td>
                  {% if row.reported %}
                    <i class="fa fa-check"></i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        Choose a workflow... then click the 'Update' button
      {% endif %}
    </div>
  </div>
{% endblock content %}
