{% extends 'workflow/base.html' %}

{% block sub_title %}
  Workflow
  {% if object.name %}
    {{ object.name }}
  {% else %}
    {{ object.process_key }}
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  Workflow:
  {% if object.name %}
    {{ object.name }}
  {% else %}
    {{ object.process_key }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
