{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  {{ report.title}} Report for {{ workflow.name }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ report.title}} Report for {{ workflow.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'workflow.data.list' %}?workflow={{ workflow.pk }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'report/_report_refresh_button.html' %}
          {% include 'report/_report_download_button.html' %}
        </ul>
      </div>
    </div>
    <div class="pure-u-1">
      {% include 'report/_report_generate_info.html' %}
    </div>
  </div>
  {% include 'report/_report_view.html' %}
{% endblock content %}

{% block script_extra %}
  {% include 'report/_report_status_js.html' %}
{% endblock script_extra %}
