{% extends 'workflow/base.html' %}

{% block sub_title %}
  Delete {{ object.name }} Workflow
{% endblock sub_title %}

{% block sub_heading %}
  Delete {{ object.name }} Workflow
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <strong>
        Warning
      </strong>
      <i class="fa fa-warning"></i>
      <br>
      Are you sure you want to delete the '{{ object.process_key }}' workflow?
      <br>
      {% include '_form.html' with submit='Delete Workflow' %}
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr valign="top">
            <th colspan="2">Workflow</th>
          </tr>
        </thead>
        <tbody>
          <tr valign="top">
            <td>Name</td>
            <td>{{ object.name }}</td>
          </tr>
          <tr valign="top">
            <td>Created</td>
            <td>{{ object.created|date:'d/m/Y H:m' }}</td>
          </tr>
          <tr valign="top">
            <td>Process Key</td>
            <td>
              {{ object.process_key }}
              {% if object.icon %}
                <i class="fa {{ object.icon }}"></i>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

