{% extends 'dash/base.html' %}

{% block sub_title %}
  Workflow - Data
{% endblock sub_title %}

{% block sub_heading %}
  Workflow - Data
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'workflow.data.list' %}?workflow={{ workflow.pk }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Workflow Data
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'workflow/_workflow_data_form.html' %}
    </div>
  </div>
{% endblock content %}
