{% extends 'dash/base.html' %}

{% block sub_title %}
  Completed Reports - {{ workflow.name }}
{% endblock sub_title %}

{% block sub_heading %}
  Completed Reports - {{ workflow.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'workflow.data.list' %}?workflow={{ workflow.pk }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Completed</th>
            <th>User</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for row in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'workflow.data.report' row.pk %}">
                  {{ row.completed_date|date:'d/m/Y H:i' }}
                </a>
              </td>
              <td>
                {{ row.user.get_full_name }}
              </td>
              <td>
                {{ row.report.title }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
