{% extends 'dash/base.html' %}

{% block sub_title %}
  Workflow
{% endblock sub_title %}

{% block sub_heading %}
  Workflow
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="{% url 'workflow.deployment.list' %}">
              <i class="fa fa-magic"></i>
              Deployments
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>
              Workflow
            </th>
            <th>
              Mapping
            </th>
            <th>
              Icon
            </th>
            <th>
              Security
            </th>
            <th>
              Delete
            </th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'workflow.update' obj.pk %}">
                  <i class="fa fa-edit"></i>
                  {% if obj.name %}
                    {{ obj.name }}
                  {% endif %}
                  <small>
                    ({{ obj.process_key }})
                  </small>
                </a>
                {% if obj.history_summary_columns.count %}
                  <br>
                  <small>
                    History: {% for mapping in obj.history_summary_columns %}'{{ mapping.variable_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                  </small>
                {% endif %}
                {% if obj.is_url_name %}
                  <br>
                  <small>
                    Startup: '{{ obj.url_name }}'
                  </small>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'workflow.mapping.list' obj.pk %}">
                  <i class="fa fa-edit"></i>
                  Mapping
                </a>
                {% if obj.config_description and obj.config_url_name %}
                  <br>
                  <a href="{% url obj.config_url_name obj.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ obj.config_description }}
                  </a>
                {% endif %}
              </td>
              <td>
                {% if obj.icon %}
                  <i class="fa {{ obj.icon }}"></i>
                {% endif %}
              </td>
              <td>
                {% if obj.security_type %}
                  <small>
                    {{ obj.security_type_as_str }}
                  </small>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'workflow.delete' obj.pk %}">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
