{% extends 'workflow/base.html' %}

{% block sub_title %}
  Workflow
{% endblock sub_title %}

{% block sub_heading %}
  {{ workflow.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <tbody>
            <tr>
              <td>Workflow</td>
              <td>
                {% if user.is_staff %}
                  <a href="{% url 'workflow.detail' workflow.id %}">
                    <i class="fa fa-edit"></i>
                    <strong>{{ workflow.name}}</strong>
                  </a>
                {% else %}
                  {{ workflow.name }}
                {% endif %}
              </td>
              <td></td>
            </tr>
            {% if workflow.id %}
              <tr valign="top">
                <td>Address</td>
                <td>
                  {{ workflow.address|linebreaksbr }}
                </td>
                <td></td>
              </tr>
            {% endif %}
            {% if workflow.phone %}
              <tr>
                <td>Phone</td>
                <td><strong>{{ workflow.phone }}</strong></td>
                <td></td>
              </tr>
            {% endif %}
            {% if workflow.url %}
              <tr>
                <td>Web</td>
                <td>{{ workflow.url|urlize }}</td>
                <td></td>
              </tr>
            {% endif %}
            {% if workflow.mail %}
              <tr>
                <td>email</td>
                <td>{{ workflow.mail|urlize }}</td>
                <td></td>
              </tr>
            {% endif %}
            {% if workflow.ticket_set.all %}
              <tr>
                <td><strong>Tickets</strong></td>
                <td></td>
                <td></td>
              </tr>
            {% endif %}
            {% for ticket in workflow.ticket_set.all %}
              <tr valign="top">
                <td>{{ ticket.id }}</td>
                <td>
                  {% if ticket.complete %}
                    <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                      {{ ticket.title }}
                    </a>
                    <small>
                      Completed on
                      {{ ticket.complete|date:"d/m/Y" }}
                      by {{ ticket.complete_user.username }}
                    </small>
                    </td>
                  {% else %}
                    <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                      <strong>{{ ticket.title }}</strong>
                    </a>
                    {% if ticket.user_assigned %}
                      <small>{{ ticket.user_assigned }}</small>
                    {% endif %}
                    {% if ticket.description %}
                      <br />
                      {{ ticket.description|urlize|linebreaksbr }}
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  {% if not ticket.complete %}
                    {% if ticket.priority.level %}
                      {{ ticket.priority.name }}
                    {% endif %}
                    {% if ticket.due %}
                      <small>due {{ ticket.due|date:"d/m/Y" }}</small>
                    {% endif %}
                    <small>created {{ ticket.created|date:"d/m/Y" }}</small>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
